<div class="row fr-mb-2w fr-px-5v align-items-center g-2"
    @displayed-label="onDisplayedLabel($event)"
    @selected-departments="onDepartmentsSelected($event)">
    <div class="col-auto flex-grow-1">
        <div class="fr-input-group search-bar">
            <label class="fr-label fr-sr-only" for="search-map-input">
                Rechercher par nom, localisation ou mot-clef...
            </label>
            <span class="fr-icon-search-line fr-icon--sm" aria-hidden="true"></span>
            <input class="fr-input" x-model="searchQuery" @input="onSearch()" placeholder="Nom, localisation ou mot-clef..." id="search-map-input" type="text">
        </div>
    </div>
    <div class="col-auto">
        {% include "projects/project/fragments/departments_selector/departments_selector_dsfr.html" with filter_by_regions=True zone_objects="regions" select_all=True label_filter="Territoire :" extra_classes="inline-chevron" %}
    </div>
    <button class="fr-btn fr-btn--tertiary-no-outline" @click="onClickResetQuery">
        <span class="fr-icon-close-line fr-icon--sm fr-mr-1w" aria-hidden="true"></span> Réinitialiser les filtres
    </button>
</div>