<div class="d-flex fr-px-0 crm">
    <div x-data="RealisationTable"
            @selected-departments="onDepartmentsSelected($event)"
            @displayed-label="onDisplayedLabel($event)"
            class="w-100 d-flex flex-column justify-content-start project-list-crm">
        <div class="project-list-crm__filters fr-px-5v fr-pb-5v">
            {% comment %} <div class="input-group">
                <span class="input-group-text bg-white">
                    <svg class="bi" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#search" />
                    </svg>
                </span>
                <input type="text"
                    class="form-control"
                    placeholder="Rechercher une réalisation ou un site…"
                    x-model="searchQuery"
                    @input="onSearch()">
            </div>
            {% include "projects/project/fragments/departments_selector/departments_selector_dsfr.html" with label="Projets de mon territoire" label_filter="Localisation :" filter_by_regions=True select_all=True %} {% endcomment %}
            <div class="col-auto flex-grow-1">
                <div class="fr-input-group search-bar">
                    <label class="fr-label fr-sr-only" for="search-map-input">
                        Rechercher par nom, localisation ou mot-clef...
                    </label>
                    <span class="fr-icon-search-line fr-icon--sm" aria-hidden="true"></span>
                    <input class="fr-input" x-model="searchQuery" @input="onSearch()" placeholder="Nom, localisation ou mot-clef..." id="search-map-input" type="text">
                </div>
            </div>
            <div class="col-auto">
    {% comment %} {% include "projects/project/fragments/departments_selector/departments_selector_dsfr.html" with filter_by_regions=True zone_objects="regions" select_all=True label_filter="Territoire :" extra_classes="inline-chevron" %} {% endcomment %}
                {% include "projects/project/fragments/departments_selector/departments_selector_dsfr.html" with label="Projets de mon territoire" label_filter="Localisation :" filter_by_regions=True select_all=True %}
            </div>
            <button class="fr-btn fr-btn--tertiary-no-outline" @click="onClickResetQuery">
                <span class="fr-icon-close-line fr-icon--sm fr-mr-1w" aria-hidden="true"></span> Réinitialiser les filtres
            </button>
        </div>
        <template x-if="searchQuery">
            <h2 class="fr-px-5v fr-mt-4v fr-mb-3w ">Résultat de la recherche : <span x-text="queryLabel"></span></h2>
        </template>
        <div class="fr-mb-2w table-responsive fr-px-5v fr-pb-5v">
            <table class="project-table w-100">
                <caption x-show="!loading"
                            x-transition.opacity.duration.500ms
                            class="fr-ml-2v">
                    <span x-text="countLabel()" data-test-id="realisations-count-label"></span>
                </caption>
                <colgroup>
                    <col class="col--large">
                    <col class="col--small">
                    <col class="col--small">
                </colgroup>
                <thead class="project-table__thead">
                    <tr>
                        <th scope="col">Nom du site</th>
                        <th scope="col">Localisation</th>
                        <th scope="col">Réalisations</th>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="site in Object.values(realisationsGroupedBySite)" :key="site[0].id">
                        <tr>
                            <td class="text-ellipsis" :title="site[0].project.name">
                                <a class="fr-link"
                                    :href="'{% url 'projects-project-detail' 0 %}'.replace('0', site[0].project.id)" 
                                    x-text="site[0].project.name"></a>
                            </td>
                            <td x-text="locationLabel(site[0].project)"></td>
                            <template x-if="searchQuery">
                                <td x-text="realisationLabel(site)"></td>
                            </template>
                            <template x-if="!searchQuery">
                                <td x-text="site.length"></td>
                            </template>
                        </tr>
                    </template>
                    <template x-if="!loading && realisations.length === 0">
                        <tr>
                            <td colspan="4">-- Aucun résultat --</td>
                        </tr>
                    </template>
                </tbody>
            </table>
            {% comment %} TODO
            <template x-if="pagination.total > 1">
                <nav role="navigation" class="fr-pagination fr-mt-2w" aria-label="Pagination">
                    <ul class="fr-pagination__list justify-content-center">
                        <li>
                            <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label"
                                :class="pagination.currentPage > 1 ? 'cursor-pointer' : ''"
                                :aria-disabled="pagination.currentPage === 1"
                                @click.prevent="pagination.currentPage > 1 && onChangePage(pagination.currentPage - 1)">
                                Page précédente
                            </a>
                        </li>
                        <template x-for="num in pagination.total" :key="num">
                            <li>
                                <a class="fr-pagination__link cursor-pointer"
                                    :class="num === pagination.currentPage ? 'fr-pagination__link--current' : ''"
                                    :aria-current="num === pagination.currentPage ? 'page' : null"
                                    @click.prevent="onChangePage(num)"
                                    x-text="num"></a>
                            </li>
                        </template>
                        <li>
                            <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label"
                                :class="pagination.currentPage < pagination.total ? 'cursor-pointer' : ''"
                                :aria-disabled="pagination.currentPage >= pagination.total"
                                @click.prevent="pagination.currentPage < pagination.total && onChangePage(pagination.currentPage + 1)">
                                Page suivante
                            </a>
                        </li>
                    </ul>
                </nav>
            </template> {% endcomment %}
        </div>
    </div>
</div>

