.realisation-sidebar__title-link {
  color: var(--light-background-action-high-blue-france, #000091);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-decoration-line: underline;
}
.realisation-sidebar__meta {
  color: var(--light-text-mention-grey, #666);
  font-size: 12px !important;
  font-weight: 400;
  line-height: 150% !important; /* 18px */
}
