{% extends "base.html" %}
{% load static %}
{% load django_vite %}
{% block title %}Réalisations - CRM{% endblock title %}
{% block og_title %}Réalisations - CRM{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/crm.js' %}
    {% vite_asset 'js/plugins/apps/realisationListCrm.js' %}
{% endblock js %}
{% block content %}
    {% include "crm/fragments/navigation.html" with plugin_mi_depafi=True %}
    <div x-data="{ breadcrumbs: { links: [{url: '{% url 'crm-site-dashboard' %}', title: 'Admin'}], current: 'Réalisations' } }"
         class="fr-p-0">{% include "tools/breadcrumb.html" %}</div>
    <div x-data="Crm" class="d-flex fr-px-0 crm">
        <div x-data="RealisationListCrm"
             @selected-departments="saveSelectedDepartment($event)"
             @multi-select-change="saveSelectedStatus($event)"
             class="w-100 d-flex flex-column justify-content-start project-list-crm">
            <div class="project-list-crm__filters fr-px-5v fr-pb-5v">
                <div class="d-flex align-items-center" x-transition.opacity.duration.500ms>
                    <span class="project-list-crm__projects-count-label"
                          x-show="dataLoaded"
                          x-text="realisationsCountLabel()"></span>
                    <span class="project-list-crm__projects-count-label" x-show="!dataLoaded">Chargement</span>
                </div>
                <div style="flex: 1; min-width: 200px; position: relative;">
                    {% include "projects/project/fragments/search_bar.html" with action_search="onSearch" x_model="backendSearch.searchText" placeholder="Rechercher" %}
                </div>
                {% include "projects/project/fragments/departments_selector.html" with label="Projets de mon territoire" label_filter="Localisation :" filter_by_regions=True select_all=True %}
                <div class="d-flex align-items-center" style="flex: 0 0 220px;" x-data="{ selected: [] }">
                    <label class="filter__label">Statut:</label>
                    {% include "tools/multi_select.html" %}
                </div>
                <a class="fr-btn fr-btn--sm fr-icon-download-line fr-btn--icon-left"
                   style="white-space: nowrap;"
                   :href="csvUrl()"
                   download="realisations.csv">Télécharger en CSV</a>
            </div>
            <div class="fr-mb-2w table-responsive fr-px-5v fr-pb-5v">
                <table class="project-table w-100">
                    <caption x-show="dataLoaded"
                             x-transition.opacity.duration.500ms
                             class="fr-ml-2v">
                        <span x-text="realisationsCountLabel()" data-test-id="realisations-count-label"></span>
                    </caption>
                    <colgroup>
                        <col class="col--large">
                        <col class="col--medium">
                        <col class="col--large">
                        <col class="col--medium">
                        <col class="col--medium">
                        <col class="col--small">
                        <col class="col--small col--fixed-160">
                    </colgroup>
                    <thead class="project-table__thead">
                        <tr>
                            <th scope="col">Intitulé de l'action</th>
                            <th scope="col">Catégorie</th>
                            <th scope="col">Nom du site</th>
                            <th scope="col">Localisation</th>
                            <th scope="col">Date de la réalisation</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="realisation in realisationsToDisplay" :key="realisation.id">
                            <tr>
                                <td class="text-ellipsis" :title="realisation.resource.title">
                                    <button type="button"
                                            class="fr-link project-table__project-name"
                                            @click="htmx.ajax('GET', realisation.detail_url, {target: '#realisation-modal-content', swap: 'innerHTML'})"
                                            x-text="realisation.resource.title"></button>
                                </td>
                                <td class="text-ellipsis" :title="realisation.resource.category?.name ?? 'Aucune catégorie'" x-text="realisation.resource.category?.name ?? '—'"></td>
                                <td class="text-ellipsis" :title="realisation.project.name">
                                    <a class="fr-link"
                                       :href="'{% url 'crm-project-details' 0 %}'.replace('0', realisation.project.id)"
                                       x-text="realisation.project.name"></a>
                                </td>
                                <td x-text="realisation.project.commune ? `${realisation.project.commune.name} (${realisation.project.commune.postal})` : '—'"></td>
                                <td x-text="new Date(realisation.created_at).toLocaleDateString('fr-FR')"></td>
                                <td class="project-table__status">
                                    <span x-text="statusLabel(realisation.status)"
                                          class="fr-badge fr-badge--no-icon"
                                          :class="statusColor(realisation.status)"></span>
                                </td>
                                <td>
                                    <button type="button"
                                            class="fr-btn fr-btn--sm fr-icon-eye-line fr-btn--tertiary-no-outline position-relative"
                                            @click="htmx.ajax('GET', realisation.detail_url, {target: '#realisation-modal-content', swap: 'innerHTML'})"
                                            title="Voir la réalisation">Voir</button>
                                    <a class="fr-btn fr-btn--sm fr-icon-pencil-line fr-btn--tertiary-no-outline position-relative"
                                       :href="realisation.update_url"
                                       title="Modifier la réalisation">Modifier</a>
                                    <button type="button"
                                            class="fr-btn fr-btn--sm fr-icon-delete-line fr-btn--tertiary-no-outline position-relative"
                                            @click="htmx.ajax('GET', realisation.delete_url, {target: '#realisation-modal-content', swap: 'innerHTML'})"
                                            title="Supprimer la réalisation">Supprimer</button>
                                </td>
                            </tr>
                        </template>
                        <template x-if="dataLoaded && realisationsToDisplay.length === 0">
                            <tr>
                                <td colspan="7">-- Aucun résultat --</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <template x-if="pagination.total > 1">
                    <nav role="navigation" class="fr-pagination fr-mt-2w" aria-label="Pagination">
                        <ul class="fr-pagination__list justify-content-center">
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label"
                                   :class="pagination.currentPage > 1 ? 'cursor-pointer' : ''"
                                   :aria-disabled="pagination.currentPage === 1"
                                   @click.prevent="pagination.currentPage > 1 && onChangePage(pagination.currentPage - 1)">
                                    Page précédente
                                </a>
                            </li>
                            <template x-for="num in pagination.total" :key="num">
                                <li>
                                    <a class="fr-pagination__link cursor-pointer"
                                       :class="num === pagination.currentPage ? 'fr-pagination__link--current' : ''"
                                       :aria-current="num === pagination.currentPage ? 'page' : null"
                                       @click.prevent="onChangePage(num)"
                                       x-text="num"></a>
                                </li>
                            </template>
                            <li>
                                <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label"
                                   :class="pagination.currentPage < pagination.total ? 'cursor-pointer' : ''"
                                   :aria-disabled="pagination.currentPage >= pagination.total"
                                   @click.prevent="pagination.currentPage < pagination.total && onChangePage(pagination.currentPage + 1)">
                                    Page suivante
                                </a>
                            </li>
                        </ul>
                    </nav>
                </template>
            </div>
        </div>
    </div>
    {% include "plugin_mi_depafi/fragments/realisation_modal.html" %}
{% endblock content %}
