{% extends "projects/project/detail.html" %}
{% block title %}
    {% firstof page_title "Modifier le périmètre" %} - {{ block.super }}
{% endblock title %}
{% block og_title %}
    {% firstof page_title "Modifier le périmètre" %} - {{ block.super }}
{% endblock og_title %}
{% block project_detail %}
<div class="col-12">

    {% include "projects/project/navigation.html" %}
    {% include "projects/project/fragments/project_banner/banner_wrapper.html" with part="open" %}

    <div class="fr-container fr-py-4w">
        <h1 class="fr-h3 fr-mb-4w">{% firstof page_title "Modifier le périmètre" %}</h1>

        <form method="post" novalidate>
            {% csrf_token %}
            <fieldset class="fr-fieldset">

                {% if form.non_field_errors %}
                <div class="fr-alert fr-alert--error fr-mb-3w">
                    <p class="fr-alert__title">Erreur</p>
                    {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
                </div>
                {% endif %}

                <!-- Périmètre -->
                <div class="fr-fieldset__element">
                    <div class="fr-select-group {% if form.perimeter.errors %}fr-select-group--error{% endif %}">
                        <label class="fr-label" for="{{ form.perimeter.id_for_label }}">
                            {{ form.perimeter.label }}
                        </label>
                        <span class="fr-hint-text fr-my-1w">{{ form.perimeter.help_text }}</span>
                        {{ form.perimeter }}
                        {% for error in form.perimeter.errors %}
                            <p class="fr-error-text">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <!-- Actions -->
                <div class="fr-fieldset__element">
                    <div class="d-flex justify-content-end gap-2 fr-mt-4w">
                        <a href="{% url 'projects-project-detail' project.pk %}"
                           class="fr-btn fr-btn--tertiary">
                            Annuler
                        </a>
                        <button type="submit" class="fr-btn">
                            Enregistrer
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    {% include "projects/project/fragments/project_banner/banner_wrapper.html" with part="close" %}
    {% include "projects/project/onboarding_tutorial.html" %}
</div>
{% endblock project_detail %}
