{% extends "base.html" %}
{% load django_vite %}
{% load static %}

{% block title %}Découvrir des réalisations{% endblock title %}
{% block og_title %}Découvrir des réalisations{% endblock og_title %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block js %}
    {{ block.super }}
    {% vite_asset 'js/plugins/components/realisationsMap.js' %}
    {% vite_asset 'js/components/DepartmentsSelector.js' %}
    {% vite_asset 'js/styles/departments-selector.css.js' %}
    {% vite_asset 'js/plugins/styles/fragments/realisation-map-panel.css.js' %}
    {% vite_asset 'js/plugins/components/RealisationTable.js' %}
    {% vite_asset 'js/plugins/components/RealisationBrowse.js' %}
{% endblock js %}

{% block content %}
{{ regions|json_script:"regionsArray" }}
<div class="container-fluid fr-py-3w"
     x-data="RealisationBrowse"
     @selected-departments.window="onDepartmentsSelected($event)">

    <div x-data="{ breadcrumbs: { links: [{url: '{% url 'home' %}', title: 'Accueil'}], current: 'Réalisations' } }"
         class="fr-p-0">{% include "tools/breadcrumb.html" %}</div>
    <h1 class="fr-h3 fr-px-5v fr-mb-2w">Découvrir les sites et leurs réalisations</h1>

    <div class="fr-my-2w">
        {% include "plugin_mi_depafi/fragments/toggle_map_table.html" %}
    </div>

    <template x-if="displayedViewName == viewsName.MAP">
        {% include "plugin_mi_depafi/fragments/realisation_map.html" %}
    </template>
    <template x-if="displayedViewName == viewsName.TABLE">
        {% include "plugin_mi_depafi/fragments/realisation_table.html" %}
    </template>
    
</div>

{% include "plugin_mi_depafi/fragments/realisation_modal.html" %}
{% endblock content %}
